:root {
	--main-font: "Outfit", sans-serif;
	--card-background: #fff;
	--slate-300: #d5e1ef;
	--slate-500: #68778d;
	--slate-900: #1f314f;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	font-family: var(--main-font);
	background-color: var(--slate-300);
}

.card {
	width: 320px;
	height: 499px;
	padding: 16px;
	display: flex;
	align-items: center;
	flex-direction: column;
	border-radius: 20px;
	background-color: var(--card-background);
}

/* IMAGEM */
.card__image {
	width: 288px;
	height: 288px;
	margin-bottom: 10px;
	border-radius: 10px;
}

/* CONTEÚDO DE TEXTO */
.card__content {
	width: 256px;
	margin-top: 16px;
	text-align: center;
}

.card__title {
	margin-bottom: 16px;
	font-size: 22px;
	font-weight: bold;
	color: var(--slate-900);
}

.card__description {
	font-size: 15px;
	color: var(--slate-500);
}

.attribution {
	position: absolute;
	bottom: 0;
	font-size: 12px;
	text-align: center;
}
